
{{ "<!-- ADVISORS -->" | safeHTML }}
<section class="bg-primary" id="advisors">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 text-center">
                <h2 class="section-heading">{{ with .Site.Params.advisors.headline }}{{ . }}{{ end }}</h2>
                <hr class="light">
                <p class="text-faded" style="color:white;opacity:1;">{{ with .Site.Params.advisors.description }}{{ . | markdownify }}{{ end }}</p>
                <a href="http://www.scrb.harvard.edu/lab/646/home" target="_blank" class="btn btn-default btn-xl">View More</a>
            </div>
            <div class="col-lg-6 text-center">
              <img src="/img/{{ with .Site.Params.advisors.img }}{{ . | markdownify }}{{ end }}" style="border-radius:50%;height:350px;width:350px;"/>
            </div>
        </div>
    </div>
</section>
